@font-face {
  font-family: "lineicons-free-solid";
  src: url('lineicons-free-solid.eot?t=1790056707219'); /* IE9*/
  src: url('lineicons-free-solid.eot?t=1790056707219#iefix') format('embedded-opentype') /* IE6-IE8 */,
  url('lineicons-free-solid.woff2?t=1790056707219') format('woff2'),
  url('lineicons-free-solid.woff?t=1790056707219') format('woff'),
  url('lineicons-free-solid.ttf?t=1790056707219') format('truetype'),
  url('lineicons-free-solid.svg?t=1790056707219') format('svg');
}

.lni, [class^="lnis-"], [class*=" lnis-"] {
  font-family: 'lineicons-free-solid' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.lnis-aeroplane-1::before { content: "\e000"; }
.lnis-agenda::before { content: "\e001"; }
.lnis-alarm-1::before { content: "\e002"; }
.lnis-align-text-center::before { content: "\e003"; }
.lnis-align-text-left::before { content: "\e004"; }
.lnis-align-text-right::before { content: "\e005"; }
.lnis-ambulance-1::before { content: "\e006"; }
.lnis-anchor::before { content: "\e007"; }
.lnis-angle-double-down::before { content: "\e008"; }
.lnis-angle-double-left::before { content: "\e009"; }
.lnis-angle-double-right::before { content: "\e00a"; }
.lnis-angle-double-up::before { content: "\e00b"; }
.lnis-arrow-all-direction::before { content: "\e00c"; }
.lnis-arrow-angular-bottom-left::before { content: "\e00d"; }
.lnis-arrow-angular-bottom-right::before { content: "\e00e"; }
.lnis-arrow-angular-top-left::before { content: "\e00f"; }
.lnis-arrow-angular-top-right::before { content: "\e010"; }
.lnis-arrow-both-direction-horizontal-1::before { content: "\e011"; }
.lnis-arrow-both-direction-vertical-1::before { content: "\e012"; }
.lnis-arrow-downward::before { content: "\e013"; }
.lnis-arrow-left-circle::before { content: "\e014"; }
.lnis-arrow-left::before { content: "\e015"; }
.lnis-arrow-right-circle::before { content: "\e016"; }
.lnis-arrow-right::before { content: "\e017"; }
.lnis-arrow-upward::before { content: "\e018"; }
.lnis-badge-decagram-percent::before { content: "\e019"; }
.lnis-balloons::before { content: "\e01a"; }
.lnis-ban-2::before { content: "\e01b"; }
.lnis-bar-chart-4::before { content: "\e01c"; }
.lnis-bar-chart-dollar::before { content: "\e01d"; }
.lnis-basket-shopping-3::before { content: "\e01e"; }
.lnis-beat::before { content: "\e01f"; }
.lnis-bell-1::before { content: "\e020"; }
.lnis-bike::before { content: "\e021"; }
.lnis-bluetooth::before { content: "\e022"; }
.lnis-board-writing-3::before { content: "\e023"; }
.lnis-bold::before { content: "\e024"; }
.lnis-bolt-2::before { content: "\e025"; }
.lnis-bolt-3::before { content: "\e026"; }
.lnis-book-1::before { content: "\e027"; }
.lnis-bookmark-1::before { content: "\e028"; }
.lnis-bookmark-circle::before { content: "\e029"; }
.lnis-books-2::before { content: "\e02a"; }
.lnis-box-archive-1::before { content: "\e02b"; }
.lnis-box-closed::before { content: "\e02c"; }
.lnis-box-gift-1::before { content: "\e02d"; }
.lnis-bricks::before { content: "\e02e"; }
.lnis-bridge-3::before { content: "\e02f"; }
.lnis-briefcase-1::before { content: "\e030"; }
.lnis-briefcase-2::before { content: "\e031"; }
.lnis-briefcase-plus-1::before { content: "\e032"; }
.lnis-brush-1-rotated::before { content: "\e033"; }
.lnis-brush-2::before { content: "\e034"; }
.lnis-bug-1::before { content: "\e035"; }
.lnis-buildings-1::before { content: "\e036"; }
.lnis-bulb-2::before { content: "\e037"; }
.lnis-bulb-4::before { content: "\e038"; }
.lnis-burger-1::before { content: "\e039"; }
.lnis-burger-drink::before { content: "\e03a"; }
.lnis-bus-1::before { content: "\e03b"; }
.lnis-busket-ball::before { content: "\e03c"; }
.lnis-cake-1::before { content: "\e03d"; }
.lnis-calculator-1::before { content: "\e03e"; }
.lnis-calculator-2::before { content: "\e03f"; }
.lnis-calendar-days::before { content: "\e040"; }
.lnis-camera-1::before { content: "\e041"; }
.lnis-camera-movie-1::before { content: "\e042"; }
.lnis-candy-cane-2::before { content: "\e043"; }
.lnis-candy-round-1::before { content: "\e044"; }
.lnis-capsule-1::before { content: "\e045"; }
.lnis-car-2::before { content: "\e046"; }
.lnis-car-4::before { content: "\e047"; }
.lnis-car-6::before { content: "\e048"; }
.lnis-caravan-1::before { content: "\e049"; }
.lnis-cart-1::before { content: "\e04a"; }
.lnis-cart-2::before { content: "\e04b"; }
.lnis-certificate-badge-1::before { content: "\e04c"; }
.lnis-chat-bubble-2::before { content: "\e04d"; }
.lnis-check-circle-1::before { content: "\e04e"; }
.lnis-check-square-2::before { content: "\e04f"; }
.lnis-check::before { content: "\e050"; }
.lnis-chevron-down-circle::before { content: "\e051"; }
.lnis-chevron-down::before { content: "\e052"; }
.lnis-chevron-left-circle::before { content: "\e053"; }
.lnis-chevron-left::before { content: "\e054"; }
.lnis-chevron-right-circle::before { content: "\e055"; }
.lnis-chevron-right::before { content: "\e056"; }
.lnis-chevron-up-circle::before { content: "\e057"; }
.lnis-chevron-up::before { content: "\e058"; }
.lnis-clipboard::before { content: "\e059"; }
.lnis-cloud-2::before { content: "\e05a"; }
.lnis-cloud-bolt-1::before { content: "\e05b"; }
.lnis-cloud-bolt-2::before { content: "\e05c"; }
.lnis-cloud-check-circle::before { content: "\e05d"; }
.lnis-cloud-download::before { content: "\e05e"; }
.lnis-cloud-iot-2::before { content: "\e05f"; }
.lnis-cloud-rain::before { content: "\e060"; }
.lnis-cloud-refresh-clockwise::before { content: "\e061"; }
.lnis-cloud-sun::before { content: "\e062"; }
.lnis-cloud-upload::before { content: "\e063"; }
.lnis-code-1::before { content: "\e064"; }
.lnis-code-s::before { content: "\e065"; }
.lnis-coffee-cup-2::before { content: "\e066"; }
.lnis-colour-palette-3::before { content: "\e067"; }
.lnis-comment-1-share::before { content: "\e068"; }
.lnis-comment-1-text::before { content: "\e069"; }
.lnis-comment-1::before { content: "\e06a"; }
.lnis-compass-drafting-2::before { content: "\e06b"; }
.lnis-crane-4::before { content: "\e06c"; }
.lnis-credit-card-multiple::before { content: "\e06d"; }
.lnis-crop-2::before { content: "\e06e"; }
.lnis-crown-3::before { content: "\e06f"; }
.lnis-dashboard-square-1::before { content: "\e070"; }
.lnis-database-2::before { content: "\e071"; }
.lnis-diamonds-1::before { content: "\e072"; }
.lnis-diamonds-2::before { content: "\e073"; }
.lnis-direction-ltr::before { content: "\e074"; }
.lnis-direction-rtl::before { content: "\e075"; }
.lnis-dollar-circle::before { content: "\e076"; }
.lnis-dollar::before { content: "\e077"; }
.lnis-double-quotes-end-1::before { content: "\e078"; }
.lnis-download-1::before { content: "\e079"; }
.lnis-download-circle-1::before { content: "\e07a"; }
.lnis-dumbbell-1::before { content: "\e07b"; }
.lnis-emoji-expressionless-flat-eyes::before { content: "\e07c"; }
.lnis-emoji-expressionless::before { content: "\e07d"; }
.lnis-emoji-grin::before { content: "\e07e"; }
.lnis-emoji-sad::before { content: "\e07f"; }
.lnis-emoji-smile-side::before { content: "\e080"; }
.lnis-emoji-smile-sunglass::before { content: "\e081"; }
.lnis-emoji-smile-tongue::before { content: "\e082"; }
.lnis-emoji-smile::before { content: "\e083"; }
.lnis-enter-down::before { content: "\e084"; }
.lnis-enter::before { content: "\e085"; }
.lnis-envelope-1::before { content: "\e086"; }
.lnis-eraser-1::before { content: "\e087"; }
.lnis-euro::before { content: "\e088"; }
.lnis-exit-up::before { content: "\e089"; }
.lnis-exit::before { content: "\e08a"; }
.lnis-expand-arrow-1::before { content: "\e08b"; }
.lnis-expand-square-4::before { content: "\e08c"; }
.lnis-eye::before { content: "\e08d"; }
.lnis-file-format-zip::before { content: "\e08e"; }
.lnis-file-multiple::before { content: "\e08f"; }
.lnis-file-pencil::before { content: "\e090"; }
.lnis-file-plus-circle::before { content: "\e091"; }
.lnis-file-question::before { content: "\e092"; }
.lnis-file-xmark::before { content: "\e093"; }
.lnis-firework-rocket-4::before { content: "\e094"; }
.lnis-flag-1::before { content: "\e095"; }
.lnis-flag-2::before { content: "\e096"; }
.lnis-floppy-disk-1::before { content: "\e097"; }
.lnis-flower-2::before { content: "\e098"; }
.lnis-folder-1::before { content: "\e099"; }
.lnis-funnel-1::before { content: "\e09a"; }
.lnis-gallery::before { content: "\e09b"; }
.lnis-game-pad-modern-1::before { content: "\e09c"; }
.lnis-gauge-1::before { content: "\e09d"; }
.lnis-gear-1::before { content: "\e09e"; }
.lnis-gears-3::before { content: "\e09f"; }
.lnis-glass-juice-1::before { content: "\e0a0"; }
.lnis-globe-1::before { content: "\e0a1"; }
.lnis-globe-stand::before { content: "\e0a2"; }
.lnis-graduation-cap-1::before { content: "\e0a3"; }
.lnis-hammer-1::before { content: "\e0a4"; }
.lnis-hammer-2::before { content: "\e0a5"; }
.lnis-hand-mic::before { content: "\e0a6"; }
.lnis-hand-shake::before { content: "\e0a7"; }
.lnis-hand-stop::before { content: "\e0a8"; }
.lnis-hand-taking-dollar::before { content: "\e0a9"; }
.lnis-hand-taking-leaf-1::before { content: "\e0aa"; }
.lnis-hand-taking-user::before { content: "\e0ab"; }
.lnis-hat-chef-3::before { content: "\e0ac"; }
.lnis-headphone-1::before { content: "\e0ad"; }
.lnis-heart::before { content: "\e0ae"; }
.lnis-helicopter-2::before { content: "\e0af"; }
.lnis-helmet-safety-1::before { content: "\e0b0"; }
.lnis-hierarchy-1::before { content: "\e0b1"; }
.lnis-highlighter-1::before { content: "\e0b2"; }
.lnis-highlighter-2::before { content: "\e0b3"; }
.lnis-home-2::before { content: "\e0b4"; }
.lnis-hospital-2::before { content: "\e0b5"; }
.lnis-hourglass::before { content: "\e0b6"; }
.lnis-indent::before { content: "\e0b7"; }
.lnis-injection-1::before { content: "\e0b8"; }
.lnis-island-2::before { content: "\e0b9"; }
.lnis-key-1::before { content: "\e0ba"; }
.lnis-keyboard::before { content: "\e0bb"; }
.lnis-knife-fork-1::before { content: "\e0bc"; }
.lnis-label-dollar-2::before { content: "\e0bd"; }
.lnis-laptop-2::before { content: "\e0be"; }
.lnis-laptop-phone::before { content: "\e0bf"; }
.lnis-layers-1::before { content: "\e0c0"; }
.lnis-layout-26::before { content: "\e0c1"; }
.lnis-layout-9::before { content: "\e0c2"; }
.lnis-leaf-1::before { content: "\e0c3"; }
.lnis-leaf-6::before { content: "\e0c4"; }
.lnis-life-guard-tube-1::before { content: "\e0c5"; }
.lnis-line-dashed::before { content: "\e0c6"; }
.lnis-line-dotted::before { content: "\e0c7"; }
.lnis-line-height::before { content: "\e0c8"; }
.lnis-link-2-angular-right::before { content: "\e0c9"; }
.lnis-location-arrow-right::before { content: "\e0ca"; }
.lnis-locked-1::before { content: "\e0cb"; }
.lnis-locked-2::before { content: "\e0cc"; }
.lnis-magnet::before { content: "\e0cd"; }
.lnis-map-marker-1::before { content: "\e0ce"; }
.lnis-map-marker-5::before { content: "\e0cf"; }
.lnis-map-pin-5::before { content: "\e0d0"; }
.lnis-megaphone-1::before { content: "\e0d1"; }
.lnis-menu-cheesburger::before { content: "\e0d2"; }
.lnis-menu-hamburger-1::before { content: "\e0d3"; }
.lnis-menu-meatballs-1::before { content: "\e0d4"; }
.lnis-menu-meatballs-2::before { content: "\e0d5"; }
.lnis-message-2-question::before { content: "\e0d6"; }
.lnis-message-2::before { content: "\e0d7"; }
.lnis-message-3-text::before { content: "\e0d8"; }
.lnis-microphone-1::before { content: "\e0d9"; }
.lnis-microscope::before { content: "\e0da"; }
.lnis-minus-circle::before { content: "\e0db"; }
.lnis-minus::before { content: "\e0dc"; }
.lnis-monitor-code::before { content: "\e0dd"; }
.lnis-monitor-mac::before { content: "\e0de"; }
.lnis-monitor::before { content: "\e0df"; }
.lnis-moon-half-right-5::before { content: "\e0e0"; }
.lnis-mountains-2::before { content: "\e0e1"; }
.lnis-mouse-2::before { content: "\e0e2"; }
.lnis-mushroom-1::before { content: "\e0e3"; }
.lnis-mushroom-5::before { content: "\e0e4"; }
.lnis-music::before { content: "\e0e5"; }
.lnis-next-step-2::before { content: "\e0e6"; }
.lnis-notebook-1::before { content: "\e0e7"; }
.lnis-outdent::before { content: "\e0e8"; }
.lnis-page-break-1::before { content: "\e0e9"; }
.lnis-pagination::before { content: "\e0ea"; }
.lnis-paint-bucket::before { content: "\e0eb"; }
.lnis-paint-roller-1::before { content: "\e0ec"; }
.lnis-paperclip-1::before { content: "\e0ed"; }
.lnis-party-flags::before { content: "\e0ee"; }
.lnis-party-spray::before { content: "\e0ef"; }
.lnis-pause::before { content: "\e0f0"; }
.lnis-pen-to-square::before { content: "\e0f1"; }
.lnis-pencil-1::before { content: "\e0f2"; }
.lnis-phone::before { content: "\e0f3"; }
.lnis-photos::before { content: "\e0f4"; }
.lnis-pie-chart-2::before { content: "\e0f5"; }
.lnis-pilcrow::before { content: "\e0f6"; }
.lnis-pizza-2::before { content: "\e0f7"; }
.lnis-placeholder-dollar::before { content: "\e0f8"; }
.lnis-play::before { content: "\e0f9"; }
.lnis-plug-1::before { content: "\e0fa"; }
.lnis-plus::before { content: "\e0fb"; }
.lnis-pound::before { content: "\e0fc"; }
.lnis-power-button::before { content: "\e0fd"; }
.lnis-previous-step-2::before { content: "\e0fe"; }
.lnis-printer::before { content: "\e0ff"; }
.lnis-question-mark-circle::before { content: "\e100"; }
.lnis-question-mark::before { content: "\e101"; }
.lnis-refresh-circle-1-clockwise::before { content: "\e102"; }
.lnis-refresh-dollar-1::before { content: "\e103"; }
.lnis-refresh-user-1::before { content: "\e104"; }
.lnis-road-1::before { content: "\e105"; }
.lnis-rocket-5::before { content: "\e106"; }
.lnis-route-1::before { content: "\e107"; }
.lnis-rss-right::before { content: "\e108"; }
.lnis-ruler-1::before { content: "\e109"; }
.lnis-ruler-pen::before { content: "\e10a"; }
.lnis-rupee::before { content: "\e10b"; }
.lnis-school-bench-1::before { content: "\e10c"; }
.lnis-school-bench-2::before { content: "\e10d"; }
.lnis-scissors-1-vertical::before { content: "\e10e"; }
.lnis-scoter::before { content: "\e10f"; }
.lnis-scroll-down-2::before { content: "\e110"; }
.lnis-search-1::before { content: "\e111"; }
.lnis-search-2::before { content: "\e112"; }
.lnis-search-minus::before { content: "\e113"; }
.lnis-search-plus::before { content: "\e114"; }
.lnis-search-text::before { content: "\e115"; }
.lnis-select-cursor-1::before { content: "\e116"; }
.lnis-seo-monitor::before { content: "\e117"; }
.lnis-service-bell-1::before { content: "\e118"; }
.lnis-share-1-circle::before { content: "\e119"; }
.lnis-share-1::before { content: "\e11a"; }
.lnis-share-2::before { content: "\e11b"; }
.lnis-shield-2-check::before { content: "\e11c"; }
.lnis-shield-2::before { content: "\e11d"; }
.lnis-shield-dollar::before { content: "\e11e"; }
.lnis-shift-left::before { content: "\e11f"; }
.lnis-shift-right::before { content: "\e120"; }
.lnis-ship-1::before { content: "\e121"; }
.lnis-shirt-1::before { content: "\e122"; }
.lnis-shovel::before { content: "\e123"; }
.lnis-shuffle::before { content: "\e124"; }
.lnis-sign-post-left::before { content: "\e125"; }
.lnis-signs-post-2::before { content: "\e126"; }
.lnis-slice-2::before { content: "\e127"; }
.lnis-sliders-horizontal-square-2::before { content: "\e128"; }
.lnis-sort-alphabetical::before { content: "\e129"; }
.lnis-sort-high-to-low::before { content: "\e12a"; }
.lnis-spellcheck::before { content: "\e12b"; }
.lnis-spinner-2-sacle::before { content: "\e12c"; }
.lnis-spinner-3::before { content: "\e12d"; }
.lnis-sports::before { content: "\e12e"; }
.lnis-stamp::before { content: "\e12f"; }
.lnis-star-fat-half-2::before { content: "\e130"; }
.lnis-star-fat::before { content: "\e131"; }
.lnis-star-sharp-disabled::before { content: "\e132"; }
.lnis-stethoscope-1::before { content: "\e133"; }
.lnis-stopwatch::before { content: "\e134"; }
.lnis-storage-hdd-2::before { content: "\e135"; }
.lnis-strikethrough-1::before { content: "\e136"; }
.lnis-sun-1::before { content: "\e137"; }
.lnis-surfboard-2::before { content: "\e138"; }
.lnis-tab::before { content: "\e139"; }
.lnis-target-user::before { content: "\e13a"; }
.lnis-telephone-1::before { content: "\e13b"; }
.lnis-telephone-3::before { content: "\e13c"; }
.lnis-text-format-remove::before { content: "\e13d"; }
.lnis-text-format::before { content: "\e13e"; }
.lnis-text-paragraph::before { content: "\e13f"; }
.lnis-thumbs-down-3::before { content: "\e140"; }
.lnis-thumbs-up-3::before { content: "\e141"; }
.lnis-ticket-1::before { content: "\e142"; }
.lnis-tickets-3::before { content: "\e143"; }
.lnis-tower-broadcast-1::before { content: "\e144"; }
.lnis-train-1::before { content: "\e145"; }
.lnis-train-3::before { content: "\e146"; }
.lnis-trash-3::before { content: "\e147"; }
.lnis-tree-2::before { content: "\e148"; }
.lnis-trees-3::before { content: "\e149"; }
.lnis-trend-down-1::before { content: "\e14a"; }
.lnis-trend-up-1::before { content: "\e14b"; }
.lnis-trophy-1::before { content: "\e14c"; }
.lnis-trowel-1::before { content: "\e14d"; }
.lnis-truck-delivery-1::before { content: "\e14e"; }
.lnis-underline::before { content: "\e14f"; }
.lnis-unlink-2-angular-eft::before { content: "\e150"; }
.lnis-unlocked-2::before { content: "\e151"; }
.lnis-upload-1::before { content: "\e152"; }
.lnis-upload-circle-1::before { content: "\e153"; }
.lnis-user-4::before { content: "\e154"; }
.lnis-user-multiple-4::before { content: "\e155"; }
.lnis-vector-nodes-6::before { content: "\e156"; }
.lnis-vector-nodes-7::before { content: "\e157"; }
.lnis-volume-1::before { content: "\e158"; }
.lnis-volume-high::before { content: "\e159"; }
.lnis-volume-low::before { content: "\e15a"; }
.lnis-volume-mute::before { content: "\e15b"; }
.lnis-volume-off::before { content: "\e15c"; }
.lnis-wallet-1::before { content: "\e15d"; }
.lnis-watch-beat-1::before { content: "\e15e"; }
.lnis-water-drop-1::before { content: "\e15f"; }
.lnis-weight-machine-1::before { content: "\e160"; }
.lnis-wheelbarrow-empty::before { content: "\e161"; }
.lnis-wheelchair-1::before { content: "\e162"; }
.lnis-www-cursor::before { content: "\e163"; }
.lnis-www::before { content: "\e164"; }
.lnis-xmark-circle::before { content: "\e165"; }
.lnis-xmark::before { content: "\e166"; }
.lnis-yen::before { content: "\e167"; }
.lnis-zero-size::before { content: "\e168"; }


